<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Google">
	<parameter name="browserType" value="chrome"/>
	<test name="test1">
		<classes>
			<class name="main.java.testngtestcases.Testcase1"/>
		</classes>
	</test>
	<test name="test2">
		<classes>
			<class name="main.java.testngtestcases.Testcase2"/>
		</classes>
	</test>
</suite>